/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

:root {
  --light-gray: #f0f0f0;
  --dark-gray: #838383;
  --highlight: #7c4ff6;
  --error: #d15358;
  --white: #fff;
  --black: #000;

  --fw-400: 400;
  --fw-700: 700;
  --fw-800: 800;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: var(--light-gray);
}

main {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.app-container {
  background-color: var(--white);
  max-width: 840px;
  margin: auto;
  padding: 60px 24px;
  border-radius: 25px 25px 200px 25px;
}

.form-container {
  position: relative;
  border-bottom: 2px solid var(--light-gray);
}

.form-container .date-form {
  display: flex;
  gap: 16px;
  padding-bottom: 48px;
}

.label {
  text-transform: uppercase;
  color: var(--dark-gray);
  font-weight: var(--fw-400);
  letter-spacing: 3px;
  font-size: 12px;
  margin-bottom: 12px;
}

.form-input-container {
  display: flex;
  flex-direction: column;
  max-width: 100px;
}

.date-form input {
  font-weight: var(--fw-800);
  font-size: 24px;
  border-radius: 8px;
  border: 1px solid var(--light-gray);
  padding: 16px;
}

input:hover {
  cursor: pointer;
}

input:focus {
  border-color: var(--highlight);
}

input:focus-visible {
  outline: none;
}

.error-message.active {
  margin-top: 12px;
  font-style: italic;
  color: var(--error);
  font-size: 12px;
}

.form-input-container:has(.error-message.active) label {
    color: var(--error);
}

.form-input-container:has(.error-message.active) input {
    border-color: var(--error);
}

.submit-btn {
  border-radius: 100%;
  width: 60px;
  height: 60px;
  aspect-ratio: 1 / 1;
  border: none;
  background-color: var(--highlight);
  position: absolute;
  bottom: 0px;
  right: 42%;
  transform: translateY(50%);
  transition: background-color 400ms ease-in-out;
}

.submit-btn:hover {
  background-color: var(--black);
  cursor: pointer;
}

.submit-btn img {
  width: 25px;
}

.results-container {
  padding-top: 60px;
  display: flex;
  flex-direction: column;
  gap: 14px;
}

.result-text {
  font-size: 60px;
  font-style: italic;
  font-weight: var(--fw-800);
}

.result-number {
  color: var(--highlight);
  letter-spacing: 12px;
}

@media screen and (min-width: 768px) {
  .app-container {
    padding: 60px;
  }

  .form-container {
    padding-right: 200px;
  }

  .date-form {
    gap: 32px;
  }

  .form-input-container {
    max-width: 160px;
  }

  .date-form input {
    font-size: 32px;
  }

  .result-text {
    font-size: 80px;
  }

  .submit-btn {
    width: 95px;
    height: 95px;
    right: 0px;
  }

  .submit-btn img {
    width: 50%;
  }
}
